body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 21, 21);
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    background-color: rgb(73, 71, 71);
}
.keys{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    border-radius: 15%;
    background-color: rgb(255, 248, 248);
    color: black;
}
.display{
    height: 40px;
    width: 300px;
    border:3px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(36, 33, 33);
    color: rgb(224, 183, 183);
    font-size: 20px;
    text-align: center;
}
.keys-operator{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    border-radius: 15%;
    background-color: rgb(136, 103, 60);
    color: aqua;
}
.keys-equal{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    border-radius: 15%;
    background-color: rgb(218, 218, 179);
    color: rgb(53, 65, 65);
}
.keys-clear{
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    border-radius: 15%;
    background-color: rgb(8, 8, 8);
    color: rgb(150, 75, 75);
}
header{
    font-size: 60px;
    color: rgb(189, 224, 224);
}
